.form {
  display: flex;
  flex-direction: column;

  gap: 10px;

  &__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

    margin: 0;
  }

  &__input {
    all: unset;

    display: block;

    border: 1px solid gray;
    border-radius: 5px;

    padding-left: 10px;

    height: 50px;
    width: 610px;

    &:focus {
      border: 2px solid black;
    }
  }

  &__message {
    padding-top: 5px;

    display: block;

    border: 1px solid gray;
    border-radius: 5px;

    padding-left: 10px;

    height: 50px;
    width: 610px;
  }

  &__button_submit {
    height: 50px;
    width: 105px;

    font-size: large;
    font-family: 'Times New Roman', Times, serif;

    color: black;
    background-color: red;

    border-color: red;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
      background-color: white;
      transition: 300ms;
    }
  }
}