@import '../utils/variables.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 157px;

  &__img {
    height: $img-size;
    width: $img-size;
  }

  &__text {
    font-size: larger;
  }
}
