.nav {
  &__list {
    display: flex;
    gap: 48px;

    width: max-content;

    list-style: none;
  }

  &__link {
    text-decoration: none;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    &:hover {
      text-shadow: 1px 1px 2px white;
    }
  }
}
