.page {
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 157px;
}
.logo__img {
  height: 25px;
  width: 25px;
}
.logo__text {
  font-size: larger;
}

.nav__list {
  display: flex;
  gap: 48px;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.nav__link:hover {
  text-shadow: 1px 1px 2px white;
}

.header {
  display: flex;
}
.header__container {
  margin: 0 auto;
  padding: 0 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.page_description__container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page_description__new {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
  border: 1px solid red;
  background-color: red;
}
.page_description__new_text {
  text-transform: uppercase;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  color: black;
}
.page_description__version {
  font-family: "Times New Roman", Times, serif;
  color: gray;
}
.page_description__text_container {
  max-width: 530px;
}
.page_description__header {
  font-size: 24px;
  text-transform: capitalize;
}
.page_description__text {
  max-width: 530px;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
.page_description__link {
  text-decoration: none;
  color: blue;
}

.homepage__info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: 30px;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__title {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  margin: 0;
}
.form__input {
  all: unset;
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  height: 50px;
  width: 610px;
}
.form__input:focus {
  border: 2px solid black;
}
.form__message {
  padding-top: 5px;
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  height: 50px;
  width: 610px;
}
.form__button_submit {
  height: 50px;
  width: 105px;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: red;
  border-color: red;
  border-radius: 5px;
  cursor: pointer;
}
.form__button_submit:hover {
  background-color: white;
  transition: 300ms;
}

.desktop_apps {
  display: flex;
  margin: 0 auto;
  gap: 50px;
}
.desktop_apps__img {
  box-shadow: 10px 5px 5px gray;
  border-radius: 5px;
}
.desktop_apps__text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.desktop_apps__title {
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-style: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: black;
}
.desktop_apps__title:hover {
  text-decoration: underline;
}
.desktop_apps__paragraph {
  max-width: 560px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 40px;
}
.footer__title {
  display: block;
  padding: 0 0 0 40px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__nav_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.footer__form_container {
  display: flex;
  gap: 10px;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 85px;
}
.testimonials__tittle {
  max-width: 200px;
  padding-left: 227px;
}
.testimonials__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 148px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 82px;
  padding-top: 37px;
  width: 362px;
  height: 494px;
  background-color: #fff;
  border-radius: 16px;
  transition: 500ms;
}
.testimonial-card__photo {
  display: flex;
}
.testimonial-card__photo-container {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
}
.testimonial-card__photo-container::before {
  content: "";
  display: block;
  width: 139px;
  height: 56px;
  background-color: black;
  border-radius: 12px;
  transform: rotate(-60deg);
  position: absolute;
  top: 0;
  left: -35%;
}
.testimonial-card__photo-container::after {
  content: "";
  display: block;
  width: 139px;
  height: 56px;
  background-color: black;
  border-radius: 12px;
  transform: rotate(-60deg);
  position: absolute;
  bottom: 0;
  left: 35%;
  z-index: 1;
}
.testimonial-card__photo-img {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  z-index: 2;
}
.testimonial-card___picture {
  display: block;
  height: 18px;
  width: 20px;
}
.testimonial-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-card__text {
  max-width: 250px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: gray;
}
.testimonial-card__person {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: blue;
}
.testimonial-card__person-profecion {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
}
.testimonial-card:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=index.css.map */
